{
  "admin-state": "enable",
  "vlan-tagging": "true",
  "subinterface": [
    {
      "index": 0,
      "type": "bridged",
      "admin-state": "enable",
      "vlan": {
        "encap": {
          "single-tagged": {
            "vlan-id": "10"
          }
        }
      }
    },
    {
      "index": 1,
      "type": "bridged",
      "admin-state": "enable",
      "vlan": {
        "encap": {
          "single-tagged": {
            "vlan-id": "20"
          }
        }
      }
    }
  ]
}
